@import "../../variables.scss";
.cw06 {
    width: 100%;
    .cw06w1 {
        // list-style-type: none;
        // display: flex;
        // justify-content: space-between;
        padding: 0 0 38% 0;
        margin: 0;
        position: relative;
       
    }
    @for $i from 1 to 4 {
        .cw06col#{$i} {
            // column-gap: $bentoColGap;
            & > .cw06w2 {
                max-width: calc((100% / $i) - ($bentoColGap * ($i - 1) / $i));
                min-width: calc((100% / $i) - ($bentoColGap * ($i - 1) / $i));
                padding-bottom: 38%;
                // &:nth-child(#{$i}n) {
                //     margin-right: 0;
                // }
            }
        }
    }
    .cw06w2 {
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
        // margin: 0 $bentoColGap 0 0;
        margin: 0;
        border-radius: $bentoBorderRadius;
        background: #FFF;
        min-height: 16em;
        // position: relative;
        position: absolute;
        vertical-align: top;
        overflow: hidden;
    }
    .cw06w3 {
        position: absolute;
        top: 0;
        right: 0;
        bottom:0;
        left: 0;
        padding: $bentoStdPad;
        margin: auto auto;
        //transition: padding 0.5s;
        overflow: hidden;
    }
    .cw06content {
        position: absolute;
        left: -99999px;
        opacity: 0;
        transition: opacity 1s;
    }
    .cw06active {
        .cw06w3 {
            padding-top:$bentoStdPad;
        }
        .cw06content {
            position: relative;
            left: 0;
            opacity: 1;
        }
        .cw06close {
            background-image: svg-url($menuCloseX);
            background-size: contain;
            width:20px;
            height:20px;
            position:absolute;
            right:$bentoStdPad;
            top:$bentoStdPad;
            display: inline-block;
        }
        .cw06open {
            display: none;
        }
    }
    .cw06open {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #09c;
        display: inline-block;
        position: absolute;
        right: $bentoStdPad;
        bottom: $bentoStdPad;
        &:after {
            content:"\2b95";
            padding: 0;
            margin:0;
        }
    }
    .cw06img {
        padding: $bentoStdPad;
        position: relative;
        max-width: 285px;
    }
    .cw06img > * {
        position: absolute;
        top: $bentoStdPad;
        left:0;
        right:0;
        margin: auto;

    }
    .cw06img.smtop > * {
        top: 1rem;
    }
    .cw06img.flushtop > * {
        top: 0;
        padding-top: 0;
    }
    @for $i from 3 to 9 {
        .cw06img.scale#{$i}0 > *{
            width: calc($i * 10%);
        }
        .cw06img.scale#{$i}5 > *{
            width: calc(5% + $i * 10%);
        }
    }
    .cw06img.flushleft > * {
        left: 0;
        padding-left: 0;
    }
    .cw06img.flushright > * {
        right: 0;
        padding-right: 0;
    }
    
}

@media (max-width: $bp_tablet) {
    .cw06 {
        .cw06img {
            padding: $bentoMobPad $bentoMobPad 0;
            margin: auto;
            max-width: 65%;
            > * {
                position: relative;
                top: auto;
            }
            &.smtop > * {
                top: auto;
            }
        }
        .cw06open {
            font-size: 0.85rem;
            right: $bentoMobPad;
            bottom: $bentoMobPad;
        }
        .cw06w0 {
            padding: 0 $padMobile;
        }
        .cw06w1 {
            padding-bottom: 0;
        }
        .cw06w2 {
            border-radius: $bentoMobBorderRadius;
            position: relative;
            min-height: 0;
            display: block;
            margin-bottom: $padMobile;
            &:last-child {
                margin-bottom:0;
            }
        }
        .cw06w3 {
            padding: $bentoMobPad $bentoMobPad $bentoStdPad;
            position: relative;
        }
        @for $i from 1 to 4 {
            .cw06col#{$i} {
                & > .cw06w2 {
                    max-width: 100%;
                    min-width: 100%;
                    padding-bottom: 0;
                }
            }
        }
    }
}