@import "../../variables.scss";

$backgroundColor: #fff7d9;
$articleFont: 'Courier New', Courier, monospace;

.cb02 {
    h3 {
        padding: 0;
        margin: 0 0 1em 0;
        background-color: $backgroundColor;
        font-weight: 400;
        font-size: 2rem;
        width: 100%;
        min-width: 100%;
    }
    article {
        background-color: $backgroundColor;
        font-family: $articleFont;
        font-size: 1.4rem;
        width: 100%;
        border-radius: 2px;
        position: relative;
        padding: 2rem;
        margin: 0;
        min-height: 24em;
        box-sizing: border-box;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-start;
        
        flex-wrap: wrap;
        p {
            margin: 0 0 1em;
        }
        > div {
            max-width: calc(50% - 2rem);
            min-width: calc(50% - 2rem);
            width: calc(506% - 2rem);
        }
        > figure {
            display: block;
            box-sizing: border-box;
            max-width: calc(50% - 2rem);
            min-width: calc(50% - 2rem);
            width: calc(50% - 2rem);

            background-color: #FFF;
            padding: 8px;
            margin:0;
        }
    }
}
@media (max-width: $bp_tablet) {
    .cb02 {
        article h3 {
            font-size: 1.3rem;
            margin-bottom: 0.5em;
        }
        article p {
            margin-bottom: 0.5em;
        }
        article {
            font-size: 1rem;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: $padMobile;
        }
        article > div,
        article > figure {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
}