.s01 {
    margin: 0;
    &.s01v0 {
        padding-top: 1em;
    }
    &.s01v1 {
        padding-top: 3em;
    }
    &.s01v2 {
        padding-top: 5em;
    }
    &.s01v3 {
        padding-top: 7em;
    }
    &.s01v4 {
        padding-top: 9em;
    }
}