.si01 {
    position: relative;
    max-width: 100%;
    svg {
        overflow: visible;
        max-width: 100%;
    }
}
.si01.si01v0 svg {
    .p1 {
        fill:#fc0;
        stroke:#666;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .p2 {
        fill:#666;
        stroke-width:0;
    }
    .p3 {
        fill:url(#si01-g0);
        stroke:#036;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .p4 {
        fill:#fff;
        stroke:#036;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .p5 {
        fill:#036;
        stroke-width:0;
    }
    .p6 {
        fill:#036;
        stroke-width:0;
    }
    circle {
        fill:#ff7;
        stroke:#036;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
}
.si01.si01v1 {
    .si01w0 {
        padding-bottom: 100%;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    svg.si01win1,
    svg.si01win2 {
        width: 60%;
    }
    svg.si01win1 {
        top: 20%;
        left: 12%;
        z-index: 2;
    }
    svg.si01win2 {
        top: 33%;
        left: 27%;
        z-index: 1;
    }
    circle,
    path,
    rect {
        stroke-width: 0;
    }
    .c1 {
        fill:#9f9;
    }
    .c2 {
        fill:#ff9;
    }
    .c3 {
        fill:#f66;
    }
    .r1 {
        fill:#036;
    }
    .r2 {
        fill:#fc0;
    }
    .r3 {
        fill:#f99;
    }
    .r4 {
        fill:#999;
    }
    .r8 {
        fill:#09f;
    }
    .r9 {
        fill:#00203a;
    }
    .r10 {
        fill:#7f7f7f;
    }
    .r22 {
        fill:#ccc;
    }
    .r23 {
        fill:#6c6
    }
    .p1 {
        fill:#fff;
    }
    .p2, .p3 {
        fill:#036;
    }
    .p4 {
        fill:#fff;
    }
}
.si01.si01v2 svg {
    circle {
        fill:#b8edff;
        stroke-width:0;
    }
    .p1 {
        fill:#39c;
        stroke-width:0;
    }
    .p2 {
        fill:none;
        stroke:#6cf;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .e1 {
        fill:#5be;
        stroke-width:0;
    }
    .outline {
        fill:none;
        stroke:#6cf;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
}
.si01.si01v3 svg {
    .p1 {
        fill:#4c5c75;
        stroke-width:0;
    }
    .p2 {
        fill:#1d2842;
        stroke-width:0;
    }
    .p3 {
        fill:#fff;
        stroke-width:0;
    }
    .p4 {
        fill:#8593af;
        stroke-width:0;
    }
    .p5 {
        fill:#f7d89a;
        stroke-width:0;
    }
    .p6 {
        fill:#ffe888;
        stroke-width:0;
    }
    .p7 {
        fill:#ff9;
        stroke-width:0;
    }
}
.si01.si01v4 {
    .p1 {
        fill:none;
        stroke:#b0ecff;
        stroke-miterlimit:10;
    }
    .p2 {
        fill:#fc0;
        stroke-width:0;
    }
    .p3 {
        fill:none;
        stroke:#666;
        stroke-miterlimit:10;
    }
}