@import "../../variables.scss";
@mixin horizline($edge) {
    background-image: linear-gradient(to right, black 25%, rgba(255,255,255,0) 0%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-position: $edge;
}
@mixin vertline($edge) {
    background-image: linear-gradient(to top, black 25%, rgba(255,255,255,0) 0%);
    background-size: 1px 4px;
    background-repeat: repeat-y;
    background-position: $edge;
}
$maxW: $globalWidth;

.cl01 {
    width: 100%;

    .cl01w0 {
        max-width: $maxW;
        padding: 0 0 1px 0;
        border: 0;
        margin: 3em auto 0;
        position: relative;
    }
    .cl01w1 {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        gap: 1.5rem 1.5rem;
        padding: 1px 0 0 0;
        margin: 0;
    }
    .cl01w1 > * {
        padding: 3% $padPercent;
        width: 100%;
        background: $bentoBGColor;
        border-radius: 22px;
        box-sizing: border-box;
        padding: calc($padPercent - 1%) $padPercent $padPercent;
    }
    .cl01bleed > * {
        padding: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .cl01w1 > .col1 {
        width: calc(60% - 1.5rem);
        min-width: calc(60% - 1.5rem);
        max-width: calc(60% - 1.5rem);
        display: flex;
        align-items: center;
    }
    .cl01w1 > .col2 {
        width: 40%;
        min-width: 40%;
        max-width: 40%;
    }
    
}