$strokeColor: #cee0f7;
// #cee0f7;
.ct01 {
    overflow: visible;
    line, polyline {
        fill: none;
        stroke: $strokeColor;
        stroke-width: 1;
        stroke-miterlimit: 10;
    }
}