.si01.si01v2 svg {
    circle {
        fill:#b8edff;
        stroke-width:0;
    }
    .p1 {
        fill:#39c;
        stroke-width:0;
    }
    .p2 {
        fill:none;
        stroke:#6cf;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .e1 {
        fill:#5be;
        stroke-width:0;
    }
    .outline {
        fill:none;
        stroke:#6cf;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
}