.si01.si01v0 svg {
    .p1 {
        fill:#fc0;
        stroke:#666;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .p2 {
        fill:#666;
        stroke-width:0;
    }
    .p3 {
        fill:url(#si01-g0);
        stroke:#036;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .p4 {
        fill:#fff;
        stroke:#036;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .p5 {
        fill:#036;
        stroke-width:0;
    }
    .p6 {
        fill:#036;
        stroke-width:0;
    }
    circle {
        fill:#ff7;
        stroke:#036;
        stroke-miterlimit:10;
        stroke-width:4px;
    }
    .c1 {
        fill:none;
        stroke-width:1px;
    }
}