.si01.si01v5 {
    position: relative;
    .txt {
        position: absolute;
        font-size:40px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        top:64%;
    }
    path {
        stroke-width: 0
    }
    .p1 {
        fill: #e66a2a
    }
    .p2 {
        fill: #e05427
    }
    .p3 {
        fill: #9fcc32
    }
    .p4 {
        fill: #fcc43b
    }
    .p5 {
        fill: #6acc2e
    }
    .p6 {
        fill: #28cc2c
    }
    .p7 {
        fill: #fc0
    }
    .p8 {
        fill: #f5a635
    }
    .p9 {
        fill: #d1cc37
    }
    .p10 {
        fill: #e3cc39
    }
    .p11 {
        fill: #87cc30
    }
    .p12 {
        fill: #c00
    }
    .p13 {
        fill: #f9b839
    }
    .p14 {
        fill: #49cc2c
    }
    .p15 {
        fill: #db3a24
    }
    .p16 {
        fill: #f19331
    }
    .p17 {
        fill: #d52321
    }  
    .p18 {
        fill: #d0cc37
    }
    .p19 {
        fill: #3c0
    }
    .p20 {
        fill: #ec7e2e
    }
    .p21 {
        fill: #b9cc34
    }
}