.si01.si01v3 svg {
    .p1 {
        fill:#4c5c75;
        stroke-width:0;
    }
    .p2 {
        fill:#1d2842;
        stroke-width:0;
    }
    .p3 {
        fill:#fff;
        stroke-width:0;
    }
    .p4 {
        fill:#8593af;
        stroke-width:0;
    }
    .p5 {
        fill:#f7d89a;
        stroke-width:0;
    }
    .p6 {
        fill:#ffe888;
        stroke-width:0;
    }
    .p7 {
        fill:#ff9;
        stroke-width:0;
    }
}