@import "../../variables.scss";
$failBG: #ffffcc;

.cw05 {
    .cw05input {
        margin: 0;
    }
    .cw05w1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .cw05chat {
        width: calc(100% - 2em);
        min-height: 15em;
        max-height: 15em;
        padding: 0;
        margin: 0 0 1em 0;
        overflow-y: auto;
    }
    .cw05chat ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .cw05chat ul > li {
        display: block;
        padding: 0;
        margin: 0.5em 0 0 0;
        position: relative;
        div.cw05cont {
            display: inline-block;
            padding: 0.75em;
            margin: 0;
            border-radius: $innerFormBorderRadius;
        }
    }
    .cw05chat .cw05user {
        text-align: right;
    }
    .cw05chat .cw05user div.cw05cont {
        background-color: rgba(255,255,255,0.5);
        color: #999;
        margin-right: 50px;
        text-align: right;
    }
    
    .cw05chat .cw05agent div.cw05cont {
        background-color: rgba(255, 255, 255, 0.9);
        color: #333;
        margin-left: 50px;
    }
    .cw05ava {
        width: 40px;
        height: 40px;
        position: absolute;
        border-radius: $innerFormBorderRadius;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cw05agent .cw05ava {
        background-color: rgba(255, 255, 255, 0.9);
        left: 0;
        background-image:svg-url($iconAI);
    }
    .cw05user .cw05ava {
        background-color: rgba(255,255,255,0.5);
        right: 0;
        background-image:svg-url($iconUser);

    }
    
    textarea[name=userInput] {
        width: 100%;
        height: 5em;
        resize: none;
        padding: 0.75em 1em;
        border:0;
        background-color: $formFieldBG3;
        border-radius: $formBorderRadius;
        opacity: 0.75;
        &:hover {
            opacity: 1;
        }
        &:focus {
            outline: 3px solid $focusColor;
            opacity: 1;
        }
        width: 100%;
    }
    .cw05chat {
        background-color: $chatBG;
        border-radius: $formBorderRadius;
        padding: 0.75em 1em;
    }
    .cw05working {
        text-align: center;
        > div > span {
            display: inline-block;
            animation-name: scaling;
            animation-duration: 2.2s;
            animation-iteration-count: infinite;
            transform: scale(1);
        }
        span.cw05b0 {
            animation-delay: 0;
        }
        span.cw05b1 {
            animation-delay: 0.48s;
        }
        span.cw05b2 {
            animation-delay: 1.12s;
        }
    }
    .cw05fail {
        text-align: center;
        div {
            display: block;
            padding: 0.75em;
            margin: 0;
            border-radius: $innerFormBorderRadius;
            background-color: $failBG;
        }
    }
    

}
@keyframes scaling {
    0% {transform:scale(1);}
    17% {transform:scale(2.75);}
    34% {transform:scale(1);}
    51% {transform:scale(1);}
    68% {transform:scale(1);}
    85% {transform:scale(1);}
    100% {transform:scale(1);}
}
@media (max-width: $bp_tablet) {
    .cw06 {
        .cw05chat {
            font-size: 1rem;
            padding: 0.5em;
            box-sizing: border-box;
            width: 100%;
            min-height: 20em;
            max-height: 20em;
        }
        .cw05chat ul > li {
            // padding: 0.5em;
            margin: 0.5em 0 0 0;
            border-radius: 8px;
        }
        .cw05chat ul > li:first-child {
            margin-top: 0;
        }
    }
}