@import "../../variables.scss";

.cw04 {
    position: relative;
    form {
        margin: 0;
    }
    ul {
        padding:0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            padding: 0;
            margin: 0 0 0.5em 0;
            min-width:49%;
            max-width: 49%;
            width: 49%;
        }

        li.cw04full {
            text-align: center;
            width: 100%;
            min-width:100%;
            max-width: 100%;
        }
        li.cw04city {
            position: absolute;
            left: -99999px;
        }
    }
    input,
    textarea {
        border: 0;
        background: $formFieldBG;
        border-radius: $formBorderRadius;
        padding: 0.75em 1em;
        opacity: 0.75;
        box-sizing: border-box;
        &:hover {
            opacity: 1;
        }
        &:focus {
            outline: 3px solid $focusColor;
            opacity: 1;
        }
        width: 100%;
    }
    button {
        border: 0;
        border-radius: $formBorderRadius;
        background: $focusColor;
        color: $formBtnTxtColor;
        padding: 0.5em 1em;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &:focus {
            outline: none;
            opacity: 1;
            background: $focusColorDk;
        }
    }
    textarea {
        height: 15em;
        resize:none;
    }
    label {
        display: block;
        font-size: 1rem;

        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}
@media (max-width: $bp_tablet) {
    .cw04 {
        ul li {
            width: 100%;
            min-width:100%;
            max-width: 100%;
        }
    }
}