@import "../../variables.scss";
.cw07 {
    padding-bottom:100%;
    position: relative;
    width: 100%;
    margin:auto;
    overflow: hidden;
    .cw07w0 {
        position: absolute;
        top: $bentoStdPad;
        right: $bentoStdPad;
        bottom: $bentoStdPad;
        left: $bentoStdPad;
        display: flex;
        align-items: center;
    }
    .cw07w0.fullbleed {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .cw07w0.freeanim {
        //display:block;
    }
    .cw07w1 {
        position: relative;
        min-width:100%;
        max-width: 100%;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // overflow: hidden;
    }
    .cw07w2 {
        top: 50%;
        opacity:0;
        position: absolute;
        // display: none;
    }
}
@media (max-width: $bp_tablet) {
    .cw07 {
        padding-bottom: 0;
        .cw07w0 {
            position: relative;
            display: block;
        }
        .cw07w1 {
            min-width: 70px;
            max-width: 70px;
            height: 70px;
            position: absolute;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: center;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: auto;
            background: #FFF;
            overflow: hidden;
            border-radius: $bentoSmBorderRadius;
            border: 1px solid #CCC;
            transform: none !important;

        }
        .cw07w2 {
            opacity:1;
            position: relative;
            margin-left: 80px;
        }
    }
}